
/build/**

/JavaULB_Lab01/build/**
/JavaULB_Lab01/data/dbs/**

/JavaULB_Lab02/build/**
/JavaULB_Lab02/data/dbs/**

/JavaULB_Lab03/build/**
/JavaULB_Lab03/data/dbs/**

/JavaULB_Lab04/build/**
/JavaULB_Lab04/data/dbs/**



/.gradle/**
/.nb-gradle/**
/JavaULB_Lab05/build/
/JavaULB_Lab06_Collections/build/